<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns				= "http://www.w3.org/ns/widgets"
		xmlns:gap			= "http://phonegap.com/ns/1.0"
		id					= "com.mariabultena.To-Do-Dice"
		versionCode			= "1"
		version  			= "1.0.0" >

	<name>To Do Dice</name>

	<description>Make homeschool fun again.</description>

	<author href = "http:github.com/mariabultena/To-Do-Dice" email = "mariabultena@gmail.com"> Maria Bultena </author>
	
	<plugin name="cordova-plugin-media" spec="~2.4.1" />

	<icon src="icon.png"/>



</widget>
